:root {
  --c-slate-900: hsl(218, 44%, 22%);
  --c-slate-500: hsl(216, 15%, 48%);
  --c-slate-300: hsl(212, 45%, 89%);
  --c-white: hsl(0, 100%, 100%);

  --c-gradient-radial: radial-gradient(
    98.96% 98.96% at 50% 0%,
    hsl(215, 20%, 17%) 0%,
    hsl(216, 24%, 12%) 100%
  );

  --color-bg: var(--c-slate-500);
  --color-text: var(--c-slate-500);
}
